body{
	margin:0;
	font-family:Ubuntu,Arial;
	background-color:#eee;
	padding-top:16px;
	text-align:center;
	word-wrap:break-word;
}

textarea{
	max-width:100%;
	min-width:100%;
	padding:6px;
	border:1px solid lightgrey;
	background-color:#fbfbfb;
	margin-bottom:4px;
}

textarea:focus{
	outline:none;
	border:1px solid #006aff;
	background-color:white;
}

input[type=text],input[type=password]{
	padding:6px;
	border:1px solid lightgrey;
	background-color:#fbfbfb;
	margin-bottom:4px;
}

input[type=text]:focus,input[type=password]:focus{
	outline:none;
	border:1px solid #006aff;
	background-color:white;
}

input[type=text]:disabled,input[type=password]:disabled{
	background-color:#e0e0e0;
}

input[type=submit],button{
	background-color:#006aff;
	border:none;
	padding:8px;
	color:white;
	margin-bottom:4px;
}

input[type=submit]:hover,button:hover{
	background-color:#006affaa;
}

input[type=submit]:focus,button:focus{
	outline:4px solid #006aff44;
}

input[type=submit].grey,button.grey{
	background-color:#dddddd;
	border:none;
	padding:8px;
	color:black;
	margin-bottom:4px;
}

input[type=submit].grey:hover,button.grey:hover{
	background-color:#ddddddaa;
}

input[type=submit].grey:focus,button.grey:focus{
	outline:4px solid #dddddd44;
}

.box{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
	border:1px solid lightgrey;
	margin:16px;
	padding:12px;
	background-color:white;
	padding-bottom:24px;
	width:800px;
	display:inline-block;
	text-align:left;
	max-width:80%;
}

.floatform form input{width:100%;}

legend{
	font-size:24px;
	padding:8px;
	display:inline-block;
}

hr{
	border:none;
	border-bottom:1px solid lightgrey;
}

a{
	color:#006aff;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.small{
	color:grey;
	font-size:12px;
}

.error{
	background-color:#f004;
	padding:8px;
	margin-top:12px;
	color:#800;
	border-radius:4px;
}

h1{
	font-weight:normal;
	margin:0;
	margin-top:12px;
	margin-bottom:16px;
	font-size:28px;
}

h2{
	font-weight:normal;
	margin:0;
	margin-top:12px;
	margin-bottom:16px;
	font-size:22px;
}

table.course td{
	padding:4px;
}

h1,h2,a,#nav{
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

pre{
	display:block;
	background-color:#eee;
	padding:8px;
	border:1px solid #ccc;
	border-radius:4px;
}

form{
	margin-bottom:0;
}

input[type=submit].micro, button.micro{
	padding:2px 6px;
	margin-top:4px;
}

select[multiple]{
	width:100%;
	margin-bottom:4px;
}

@media only screen and (max-device-width: 640px) {
body{padding:0; background-color:white;}
.box{margin:0; display:block;width:auto; max-width:none; box-shadow:none; border:none;}
}
